{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
  Please answer the following questions.
{% endblock %}

{% block content %}

        <p><h6>This survey result is used for only research purpose.</h6></p>

        <p>
            {% formfield player.ad1 label="1. It would be very helpful if you could tell us at this point whether you have taken part in this experiment seriously - so that we can use your answer for our scientific analysis - or whether you were just clicking through? <strong>Note that your payment will NOT be affected by your answer to this question</strong>" %}
        </p>
        <br>


        <p>
            {% formfield player.ad2 label="2. Have you ever participated in similar experiments (e.g. forecasting based on judgments) before?" %}
        </p>
        <br>

        <p>
            {% formfield player.ad3 label="3. If you answered Yes to the previous question, please specify which similar experiments you have participated in." %}
        </p>


{% next_button %}
{% endblock %}