{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
  Questionnaire I: Page 1 (out of 3)
{% endblock %}

{% block content %}
 <br>
     <p><h6>Please answer the following questions.</h6></p>
     <br>
    <p>1. How much did the current COVID-19 pandemic situation affect your forecast judgments? <br>
        (1 = Not at all / 7 = Very much)  </p>
        <table class='table table-sm text-center'>
                 <colgroup>
                    <col width="14.28%">
                    <col width="14.28%">
                     <col width="14.28%">
                     <col width="14.28%">
                    <col width="14.28%">
                     <col width="14.28%">
                     <col width="14.28%">
                 </colgroup>
       <tr>
            {% for choice in form.AQ1 %}
                <td>{{ choice }}</td>
           {% endfor %}
       </tr>
        </table>
    <br>
    <br>
    <p> {% formfield player.AQ2 label="2. How fast were the daily infection cases increasing/decreasing compared to the first wave at the time when you started making your forecasts?" %} </p>
    <br>
    <br>



{% next_button %}
{% endblock %}