{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
  Questionnaire II
{% endblock %}

{% block content %}

        <p><h6>This survey result is used for only research purpose. Please answer the following questions.</h6></p>
        <p> {% formfield player.age label="1. In what year were you born? (e.g. 1964, 1993)" %} </p>
        <p> {% formfield player.gender label="2. What is your gender?" %} </p>
        <p> {% formfield player.job label="3. What is your current employment situation?" %} </p>
        <p> {% formfield player.edu label="4. What is the highest degree or level of school you have completed? If currently enrolled, mark the previous grade or highest degree received." %}</p>
        <p> {% formfield player.exp label="5. How many years of work experience do you have?" %} </p>
        <p> {% formfield player.ethnic label="6. What is your ethnic group?" %} </p>

{% next_button %}
{% endblock %}