{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Completion Code
{% endblock %}

{% block content %}
 <div class="card bg-light">
        <div class="card-body">
       <p>
               This page is the last page of our HIT.

                The completion code is: <br>

            <h3 align="center"><strong> C__ud__Koo9 </strong></h3><br>

                Please copy the code and paste it to Mechanical Turk page.

       </p>
        </div>
 </div>
{% endblock %}