{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div style="margin:0 auto;">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <div id="container" style="margin:auto; width: 100%">
        <script>
             var data1 = {{ highchart_series1|json }};
             var forecast_10 = {{ forecast_10|json }};
             var forecast_20 = {{ forecast_20|json }};
             $(function () {
                Highcharts.setOptions({
                    lang: {
                      thousandsSep: ''
                    },
                  });
                $('#container').highcharts({
                    title: {
                        text: 'Daily Infection Cases',
                        style: {
                                    fontSize: '20px'
                                },
                    },
                    chart: {
                        height: 550,
                    },

                    xAxis: {
                         label: 'Days',
                         tickInterval: 10,
                         min: 0,
                         max: 340,
                         plotLines: [{
                         color: '#FF0000', // Red
                         width: 2,
                         value: 340 // Position, you'll have to translate this to the values on your x axis
                         }],
                         title: {
                                enabled: true,
                                text: 'Days',
                                style: {
                                    fontSize: '20px'
                                },
                          },
                      },

                    yAxis: [{

                        labels: {
                           format: '{value}'
                        },
                        tickInterval: 50,
                        min: 100,
                        max: 1000,
                        title: {
                                enabled: true,
                                text: 'Daily Infection Cases',
                                style: {
                                    fontSize: '20px'
                                },
                          },
                        },

                        {
                        labels: {
                           format: '{value}'
                        },
                        tickInterval: 50,
                        tickAmount: 19,
                        min: 100,
                        max: 1000,
                        opposite:true,
                        title: {
                                enabled: false,
                                },
                        }],
                      legend: {
                        enabled: false
                        },
                    plotOptions: {
                        series: {
                            animation: false,
                            pointStart: 0,
                            },

                    },
                    series:[{
                            color: '#0000FF',
                            marker: {
                                enabled: true,
                                fillColor: '#0000FF',
                                radius: 2
                                 },
                            name: 'Infection Cases',
                            data: data1,
                            },
                            {
                             color: '#FF0000',
                             marker: {
	                                fillColor: '#FF0000',
	                                radius: 4
	                                },
                            name: 'Forecast',
                            data: [[320,forecast_10],
                                   [321,null],
                                   [322,null],
                                   [323,null],
                                   [324,null],
                                   [325,null],
                                   [326,null],
                                   [327,null],
                                   [328,null],
                                   [329,null],
                                   [330,forecast_20]],
                            }],


                     credits: {
                            enabled: false
                    }
                });
             });

        </script>
    </div>
</div>


<div style = "clear: both"></div>

<br>

<div id="container">
     <div style ="margin: auto; width: 100%">
         <div class = "card bg-light">
             <div class="card-body">
                 <h4>
                     Step 3 (out of 4)
                </h4>
                    <p><font size="4">
                         <strong> Today is Day 310.</strong> <br>
                        <div style = "border: 3px solid #000000;padding: 10px;">
                                - The study setting is hypothetical and has NO relation to the current COVID outbreak. <br>
                                - Assume that currently no effective vaccine exists for the virus. It is expected to take 6 months to develop the effective vaccine from now. <br>
                        </div>
                        <br>
                        Please forecast the daily infection cases <strong>after 30 days (Day 340).</strong>
                        </font>
                    </p>
                <div>

                    <td> {% formfield player.forecast_30 label = ""%}</td>

                </div>


                 {% next_button %}
             </div>
        </div>
     </div>
</div>

<div style = "clear: both"></div>


<br><br>

{% include Constants.instructions_template %}


{% endblock %}
