{% load otree %}

<h3><strong> General Instruction I </strong></h3>
 <div class="card bg-light">
        <div class="card-body">
            <p>
                During the experiment, you will be asked to make forecasting judgments and answer a questionnaire at the end.
                The task will take approximately 15 minutes. Upon completion, you will be paid a participation fee of 0.5 USD plus a bonus (average bonus = 0.5 USD)
                based on your forecasting performance during the experiment.<strong> Make your forecasts based on your judgment only.
                Please do not use cell phones, calculators, other portable electronic devices, and pen and papers at any time. </strong>
            <br>
            <br>
            <h4><strong>Description of the Experiment</strong></h4>
            <p>
                Last year, an outbreak of a new virus with flu-like symptoms has been detected by the local authorities.
                Meanwhile, it has led to a pandemic for which currently <strong>no effective vaccine exists.</strong>
                <br>
                <br>

                The below graph indicates daily infection cases of the virus during the last 220 days (about 7 months).

                Note that “0” indicates the day of the first reported infection case. The number of infection cases has been evolving in <strong> wave like shapes. </strong>
             <br>
             <br>
            </p>
                {% if chosen_demand == 0 %}
                <p style="text-align: center;"> <img src="{% static 'increasing_t1_1.png' %}"/>  </p>
                {% endif %}
                {% if chosen_demand == 1 %}
                <p style="text-align: center;"> <img src="{% static 'increasing_t1_2.png' %}"/>  </p>
                {% endif %}
                {% if chosen_demand == 2 %}
                <p style="text-align: center;"> <img src="{% static 'increasing_t1_3.png' %}"/>  </p>
                {% endif %}

            <p>
                Given this context, your task is to <strong> provide forecasting judgments regarding the daily infection cases in the upcoming time periods. </strong>
                You will be asked to enter your best estimates of what the daily infection cases will look like in the future.
            </p>
            </p>


            <p>

                Given that you are currently in day 220 of the pandemic, you will be gradually asked to forecast the daily infection cases in four steps:
                <br>
                <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 1st step: Forecast the daily infection cases <strong> in 10 days from now (day 230) </strong> </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 2nd step: Forecast the daily infection cases <strong> in 20 days from now (day 240) </strong>  </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 3rd step: Forecast the daily infection cases <strong> in 30 days from now (day 250) </strong> </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 4th step: Forecast the daily infection cases <strong> in 180 days and 365 days from now </strong> (6 months and 1 year later)  </p>
            </p>
            <br>
            <p>
                <strong> When you make your forecasting judgments, please note the following important points: </strong>
                <br>
                <br>
                    <p> - Your task is to forecast the infection cases that occur on a specific day, not the cumulative number of cases </p>
                    <p> - The study setting is hypothetical and has NO relation to the current COVID outbreak.  </p>
                    <p> - Assume that currently no effective vaccine exists for the virus. It is expected to take 6 months to develop the effective vaccine from now (day 220).  </p>
            </p>

            <br>
            <h4><strong>Payoffs</strong> </h4>

            <p>
                Upon completion, you will be paid a participation fee of 0.5 USD.
                In addition to the participation fee, you can earn a bonus between 0 USD and 1.5 USD based on your forecasting
                performance. The average bonus payment is 0.5 USD. We will calculate the bonus payment using the following equation:
                <br>
                <br>
                <h6 align="center"><strong>Bonus payment (USD) = 1.5 – 0.009 x [Average of absolute forecast errors in 10, 20, 30 days]</strong></h6>
                <br>

                The lower the forecast error, the higher the bonus payment. For example, if the average of absolute forecast errors is 110, the bonus payment will be 0.5 USD.
                <br><br>

                <strong>Note that you will not be paid unless you complete all sequences in this HIT, including the questionnaire that follows after the forecasting task.
                Additionally, on the last page, you will be given a completion code. Please copy the completion code and paste it to Mechanical Turk page to receive the payment.</strong>
            </p>
        </div>
    </div>
<br>
<br>
<h3><strong> General Instruction II </strong></h3>
<div class="card bg-light">
        <div class="card-body">
            <p>
                In the study, a <strong><font color="red"> red vertical line </font></strong>(as shown in the graph below) indicates the future time period for which you are asked to provide a forecasting judgment.
            Once you have entered your first forecasting judgment and clicked on the “Next” button, you will move on to the next step
            and your response will appear as a red dot on the graph with another red vertical line to indicate the next forecast horizon.
            This will repeat for the first three steps (10, 20, 30 days from now). In the last step, you will be asked to enter your forecasts for 180 days and 365 days (6 months and 1 year) from now without the red vertical lines.
            </p>
            <br>

            {% if chosen_demand == 0 %}
            <p style="text-align: center;"> <img src="{% static 'increasing_t1_1_experiment.png' %}"/>  </p>
            {% endif %}
            {% if chosen_demand == 1 %}
            <p style="text-align: center;"> <img src="{% static 'increasing_t1_2_experiment.png' %}"/>  </p>
            {% endif %}
            {% if chosen_demand == 2 %}
            <p style="text-align: center;"> <img src="{% static 'increasing_t1_3_experiment.png' %}"/>  </p>
            {% endif %}
            <p style="text-align: center;"> Step 1: Forecast the daily infection cases in 10 days from now (day 230) </p>

        </div>
    </div>
